<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="modal fade" id="disciplinas_1_seg_1" aria-hidden="true" aria-labelledby="disciplinas_1_seg_1Label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="disciplinas_1_seg_1Label">Unidades Curriculares que Dominas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox1">
                            <label class="form-check-label" for="checkbox1">Introdução à Ciberegurança</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox2">
                            <label class="form-check-label" for="checkbox2">Sistemas Operativos e Virtualização</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">Introdução às Redes de Computadores</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">Fundamentos de Programação</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">Trabalho, Organizações e Tecnologia</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">Matemática Aplicada</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox7">
                            <label class="form-check-label" for="checkbox7">Complementos de Matemática Aplicada</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox8">
                            <label class="form-check-label" for="checkbox8">Planeamento e Gestão de Projetos</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox9">
                            <label class="form-check-label" for="checkbox9">Algoritmia e Estruturas de Dados</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox10">
                            <label class="form-check-label" for="checkbox10">Apresentação em Público com Técnicas Teatrais</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox11">
                            <label class="form-check-label" for="checkbox11">Introdução ao Design Thinking</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox12">
                            <label class="form-check-label" for="checkbox12">Trabalho Académico com Inteligência Artificial</label>
                        </li>
                    </ul>                
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#disciplinas_1_seg_2" data-bs-toggle="modal">Seguinte</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="disciplinas_1_seg_2" aria-hidden="true" aria-labelledby="disciplinas_1_seg_2Label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="disciplinas_1_seg_2Label">Unidades Curriculares que Não Dominas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox1">
                            <label class="form-check-label" for="checkbox1">Introdução à Ciberegurança</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox2">
                            <label class="form-check-label" for="checkbox2">Sistemas Operativos e Virtualização</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">Introdução às Redes de Computadores</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">Fundamentos de Programação</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">Trabalho, Organizações e Tecnologia</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">Matemática Aplicada</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox7">
                            <label class="form-check-label" for="checkbox7">Complementos de Matemática Aplicada</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox8">
                            <label class="form-check-label" for="checkbox8">Planeamento e Gestão de Projetos</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox9">
                            <label class="form-check-label" for="checkbox9">Algoritmia e Estruturas de Dados</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox10">
                            <label class="form-check-label" for="checkbox10">Apresentação em Público com Técnicas Teatrais</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox11">
                            <label class="form-check-label" for="checkbox11">Introdução ao Design Thinking</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox12">
                            <label class="form-check-label" for="checkbox12">Trabalho Académico com Inteligência Artificial</label>
                        </li>
                    </ul>                
                </div>
                <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#disciplinas_1_seg_1" data-bs-toggle="modal">Voltar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar Escolha</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="disciplinas_2_seg_1" aria-hidden="true" aria-labelledby="disciplinas_2_seg_1Label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="disciplinas_2_seg_1Label">Unidades Curriculares que Dominas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox1">
                            <label class="form-check-label" for="checkbox1">Análise Forense Digital</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox2">
                            <label class="form-check-label" for="checkbox2">Bases de Dados e Segurança</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">Programação para a Internet</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">Estatística e Probabilidades</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">Segurança em Redes de Computadores</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">Criptografia Aplicada</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox7">
                            <label class="form-check-label" for="checkbox7">Empreendorismo e Inovação</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox8">
                            <label class="form-check-label" for="checkbox8">Sistemas Distribuidos e Segurança</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox9">
                            <label class="form-check-label" for="checkbox9">Empreendorismo e Inovação II</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox10">
                            <label class="form-check-label" for="checkbox10">Ética e Legislação em Ciberegurança</label>
                        </li>
                    </ul>                                 
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#disciplinas_2_seg_2" data-bs-toggle="modal">Seguinte</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="disciplinas_2_seg_2" aria-hidden="true" aria-labelledby="disciplinas_2_seg_2Label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="disciplinas_2_seg_2Label">Unidades Curriculares que Não Dominas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox1">
                            <label class="form-check-label" for="checkbox1">Análise Forense Digital</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox2">
                            <label class="form-check-label" for="checkbox2">Bases de Dados e Segurança</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">Programação para a Internet</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">Estatística e Probabilidades</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">Segurança em Redes de Computadores</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">Criptografia Aplicada</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox7">
                            <label class="form-check-label" for="checkbox7">Empreendorismo e Inovação</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox8">
                            <label class="form-check-label" for="checkbox8">Sistemas Distribuidos e Segurança</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox9">
                            <label class="form-check-label" for="checkbox9">Empreendorismo e Inovação II</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox10">
                            <label class="form-check-label" for="checkbox10">Ética e Legislação em Ciberegurança</label>
                        </li>
                    </ul>                            
                </div>
                <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#disciplinas_2_seg_1" data-bs-toggle="modal">Voltar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar Escolha</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="disciplinas_3_seg_1" aria-hidden="true" aria-labelledby="disciplinas_3_seg_1Label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="disciplinas_3_seg_1Label">Unidades Curriculares que Dominas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox1">
                            <label class="form-check-label" for="checkbox1">Projeto Aplicado de Tecnologias Digitais e Segurança de Informação I</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox2">
                            <label class="form-check-label" for="checkbox2">Segurança de Software e Aplicacional</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">Projeto Aplicado de Tecnologias Digitais e Segurança de Informação II</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">Auditoria de Segurança em Sistemas e Redes Digitais</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">Operações de Segurança e Gestão de Incidentes</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">Tecnologia, Economia e Sociedade</label>
                        </li>
                    </ul>                                       
                </div>
                <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#disciplinas_3_seg_2" data-bs-toggle="modal">Seguinte</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="disciplinas_3_seg_2" aria-hidden="true" aria-labelledby="disciplinas_3_seg_2Label" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="disciplinas_3_seg_2Label">Unidades Curriculares que Não Dominas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox1">
                            <label class="form-check-label" for="checkbox1">Projeto Aplicado de Tecnologias Digitais e Segurança de Informação I</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox2">
                            <label class="form-check-label" for="checkbox2">Segurança de Software e Aplicacional</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox3">
                            <label class="form-check-label" for="checkbox3">Projeto Aplicado de Tecnologias Digitais e Segurança de Informação II</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox4">
                            <label class="form-check-label" for="checkbox4">Auditoria de Segurança em Sistemas e Redes Digitais</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox5">
                            <label class="form-check-label" for="checkbox5">Operações de Segurança e Gestão de Incidentes</label>
                        </li>
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="checkbox6">
                            <label class="form-check-label" for="checkbox6">Tecnologia, Economia e Sociedade</label>
                        </li>
                    </ul>                                
                </div>
                <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-target="#disciplinas_3_seg_1" data-bs-toggle="modal">Voltar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirmar Escolha</button>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>





