
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <title>Ajuda - Study Link</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/ajuda.css">
</head>
<body>
    <header>
        <img src="../static/Imagens/logo.png" alt="Study Link Logo">
        <h1><a href="index.html">StudyLink</a></h1>
    </header>
    <nav>
        <a href="recursos.html">Recursos</a>
        <a href="comunidade.html">Comunidade</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <button class="account-btn" onclick="toggleAccountMenu()">Menu</button>
    <div class="account-menu" id="accountMenu">
        <a href="disciplinas.html">Disciplinas</a>
        <a href="conta.html">Conta</a>
        <a href="definicoes.html">Definições</a>
        <a href="ajuda.html">Ajuda</a>
    </div>
    <div class="container">
        <section class="help-section">
            <h2>Precisa de Ajuda?</h2>
            <p>Encontre respostas para suas dúvidas e descubra como tirar o máximo proveito do Study Link.</p>
        </section>
    </div>
    <footer>
        <p>&copy; 2025 Study Link. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
