
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <title>Contacto - Study Link</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/contacto.css">
    <script src="your-script.js" defer></script>
</head>
<body>
    <header>
        <img src="../static/Imagens/logo.png" alt="Study Link Logo">
        <h1><a href="index.html">StudyLink</a></h1>
    </header>
    <nav>
        <a href="recursos.html">Recursos</a>
        <a href="comunidade.html">Comunidade</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <button class="account-btn" onclick="toggleAccountMenu()">Menu</button>
        <div class="account-menu" id="accountMenu">
            <a href="/registo_page">Registo</a>
            <a href="/login_page">Login</a>
            <a href="definicoes.html">Definições</a>
            <a href="ajuda.html">Ajuda</a>
        </div>

    <div class="container">
       
<section class="contact-section">
    <h2>Contacto</h2>
    <p>Bem-vindo à página de contacto do Study Link. Se tem alguma dúvida, entre em contacto connosco através do formulário abaixo.</p>
</section>

<div class="flash-messages">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<section class="form-container">
    <h3>Formulário de Contacto</h3>
    <form action="/contacto" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <input type="text" name="nome" placeholder="Nome Completo" required>
        <input type="email" name="email" placeholder="Email" required>
        <textarea name="mensagem" placeholder="Escreva sua mensagem aqui..." rows="4" required></textarea>
        <button type="submit">Enviar Mensagem</button>
    </form>
</section>
    </div>

    <footer>
        <p>&copy; 2025 Study Link. Todos os direitos reservados. <a href="contacto.html">Contate-nos</a></p>
    </footer>
    <script>
        function toggleAccountMenu() {
            const menu = document.getElementById('accountMenu');
            menu.classList.toggle('show');
        }
    </script>
</body>
</html>
