
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="logo.png">
    <title>Study Link - Disciplinas</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/disciplinas.css">
</head>
<body>
    <header>
        <img src="../static/Imagens/logo.png" alt="Study Link Logo">
        <h1><a href="index.html">StudyLink</a></h1>
    </header>
    <nav>
        <a href="recursos.html">Recursos</a>
        <a href="comunidade.html">Comunidade</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <button class="account-btn" onclick="toggleAccountMenu()">Menu</button>
    <div class="account-menu" id="accountMenu">
        <a href="disciplinas.html">Disciplinas</a>
        <a href="conta.html">Conta</a>
        <a href="definicoes.html">Definições</a>
        <a href="ajuda.html">Ajuda</a>
    </div>
    <div class="container">
        <section class="disciplinas">
            <h2>Escolhe as tuas Disciplinas</h2>
            <div class="disciplinas-lista">
                <div class="disciplina">
                    <label for="disciplina1">Análise Forense Digital</label>
                    <input type="checkbox" id="disciplina1">
                </div>
                <div class="disciplina">
                    <label for="disciplina2">Análise de Vulnerabilidades</label>
                    <input type="checkbox" id="disciplina2">
                </div>
                <div class="disciplina">
                    <label for="disciplina3">Arquiteturas de Computadores</label>
                    <input type="checkbox" id="disciplina3">
                </div>
                <div class="disciplina">
                    <label for="disciplina4">Bases de Dados</label>
                    <input type="checkbox" id="disciplina4">
                </div>
                <div class="disciplina">
                    <label for="disciplina5">Ciência, Tecnologia e a Cidade</label>
                    <input type="checkbox" id="disciplina5">
                </div>
            </div>
            <button class="aplicar-btn">Aplicar</button>
        </section>
    </div>
    <footer>
        <p>&copy; 2024 Study Link. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
