<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/Imagens/logo.png"> 
    <title>Study Link - Homepage</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js" defer></script>


</head>
<body>
    <header>
        <img src="/static/Imagens/logo.png" alt="Study Link Logo">
        <h1><a href="index.html">StudyLink</a></h1>
    </header>
    <nav>
        <a href="recursos.html">Recursos</a>
        <a href="comunidade.html">Comunidade</a>
        <a href="contacto.html">Contacto</a>
    </nav>
    <button class="account-btn" onclick="toggleAccountMenu()">Menu</button>
    <div class="account-menu" id="accountMenu">
        <a href="/registo_page">Registo</a>
        <a href="/login_page">Login</a>
        <a href="definicoes.html">Definições</a>
        <a href="ajuda.html">Ajuda</a>
    </div>
    <div class="container">
        <section id="sobre" class="about">
            <h2>Sobre o Study Link</h2>
            <p>O Study Link é uma plataforma inovadora criada para conectar estudantes universitários, promovendo entreajuda académica e partilha de conhecimentos.</p>
        </section>
    </div>

    <footer>
        <p>&copy; 2025 Study Link. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
