<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registo - Study Link</title> 
    <link rel="stylesheet" href="../static/css/registo.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/registo.js" defer></script>

     </head>
  <body>
    <div class="register-container">
      <div class="logo">
        <img src="../static/Imagens/logo.png" alt="Logo Study Link" />
      </div>
      <h1>Criar Conta</h1>

      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flash-container">
          {% for category, message in messages %}
          <div class="flash-message {{ category }}">
            {{ message }}

            {% if category == "success" %}
            <div id="loading-container">
              <div class="spinner-circle"></div>
              <div class="progress-bar">
                <div class="progress-fill"></div>
              </div>
              <p>🚀🎓 Poderá fazer login brevemente...</p>
            </div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      
        <form action="{{ url_for('register') }}" method="post">
                   
         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <div class="form-group"> 
          <label for="name">Nome:</label>
          <input type="text" id="name" name="name" placeholder="Introduza o seu nome"
              value="{{ session['form_data']['name'] if 'form_data' in session else '' }}" required />
         </div>

        <div class="form-group">
          <label for="name">Username:</label>
          <input type="text" id="username" name="username" placeholder="Introduza o seu nome de utilizador"
              value="{{ session['form_data']['username'] if 'form_data' in session else '' }}" required />
        </div>

        <div class="form-group">
          <label for="name">E-mail:</label>
          <input type="email" id="email" name="email" placeholder="Introduza o seu email"
              value="{{ session['form_data']['email'] if 'form_data' in session else '' }}" required />
         </div>
         
          <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" placeholder="Introduza a sua password" required />
              <div class="password-strength">
                  <div class="password-strength-bar"></div>
              </div>
          </div>

          <div class="form-group">
              <label for="confirm-password">Confirmar Password:</label>
              <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme a sua password" required />
          </div>

          <button type="submit" class="botao">Registar</button>
</form>
      <div class="link-login">
        Já possui conta? <a href="/login_page">Autentique-se aqui</a>
      </div>
    </div>
  </body>
</html>
