<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registo - Study Link</title>

    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/registo.css">
     </head>
  <body>
    <div class="register-container">
      <div class="logo">
        <img src="../static/Imagens/logo.png" alt="Logo Study Link" />
      </div>
      <h1>Criar Conta</h1>

      <!-- Flash Messages -->
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="flash-container">
          {% for category, message in messages %}
          <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
        {% endif %}
      {% endwith %}

      
        <form action="{{ url_for('register') }}" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

          <div class="form-group">
            <label for="name">Nome:</label>
            <input type="text" id="name" name="name" pattern="[A-Za-zÀ-ž\s]+" title="Apenas letras são permitidas" value="{{ form.name if form else '' }}" required>
          </div>

          <div class="form-group">
            <label for="username">Nome de Utilizador:</label>
            <input type="text" id="username" name="username" value="{{ form.username if form else '' }}"required />
          </div>

          <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" value="{{ form.email if form else '' }}"required />
          </div>

          <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[A-Z])(?=.*[a-z]).{12,}" title="A password deve ter pelo menos 12 caracteres, 1 letra maiúscula e 1 número" required>
          </div>

          <div class="form-group">
            <label for="confirm-password">Confirmar Password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required />
          </div>

          <button type="submit" class="botao">Registar</button>
      </form>

      <div class="link-login">
        Já possui conta? <a href="/login_page">Autentique-se aqui</a>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let flashMessages = document.querySelectorAll(".flash-message");
        flashMessages.forEach((msg) => {
          msg.style.display = "block";
          setTimeout(() => msg.style.display = "none", 15000);
        });
      });
    </script>
  </body>
</html>
